body {
    font-family: Arial;
    margin: 0;
	}

header {
    background: black;
    color: white;
    text-align: center;
    padding: 40px;
	}

section {
    padding: 20px;
	}

h2 {
    border-bottom: 2px solid #ccc;
	}